<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <div>
    <%= link_to("/trigger/index", trigger_index_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
  </div>
  <div>
    <%= link_to("/data/index", data_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
  </div>
  <div>
    <%= link_to("/job", mission_control_jobs_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline") %>
  </div>
</div>
